.input{
	border: 2;
	align-self: center;
	text-align: center;
	align-content: center;
	align-items: center;
	margin-right: 10px;
	width: 180px;
}

.main{
	max-width: 250px;
	margin: auto;
}

text{
	text-align: center;
	align-items: center;
}
p{
	align-items: center;
	align-content: center;
}

.input1{
	background-color: rgba(150,150,225,0.9);
	border-radius: 5px;
	padding: 5px
}
